<h1><%= @tour.tourname %></h1>

<table class="table">
  <thead>
    <tr>
      <th>出発日・時間</th>
      <th>出発場所</th>
      <th>移動手段</th>
      <th>すること</th>
      <th>メモ</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <% @   each.do || %>
        <th>1</th>
        <td><%= %></td>
        <td>Qiita</td>
        <td>@Hanaq</td>
        <td></td>
      <% end %>
    </tr>
    <tr>
      <th>2</th>
      <td>Taro</td>
      <td>Qiita</td>
      <td>@TaroQ</td>
      </tr>
  </tbody>
</table>